* {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-size: 2.25rem;
  font-weight: 400;
}

@font-face {
  font-family: "fisheye";
  src: url("../../assets/fonts/fisheye.ttf?ys1a6t") format("truetype"), url("../../assets/fonts/fisheye.woff?ys1a6t") format("woff"), url("../../assets/fonts/fisheye.svg?ys1a6t#fisheye") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fisheye" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-chevron-down:before {
  content: "\e900";
}

.fi-chevron-up:before {
  content: "\e901";
}

.fi-hearth:before {
  content: "\e903";
}

.fi-camera:before {
  content: "\e902";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header__name {
  color: #d3573c;
  font-size: 4rem;
  margin: 0;
  font-weight: 400;
}
.photograph-header__location {
  color: #901c1c;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}
.photograph-header__description {
  color: #000000;
  font-size: 1.125rem;
}

.contact_button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.contact_button:hover, .contact_button:focus {
  color: #000000;
  background-color: #d3573c;
}

#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}
.modal header h2 img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 2.25rem;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 170px;
}

.dropbtn {
  display: flex;
  justify-content: space-between;
  background-color: #901c1c;
  color: white;
  padding: 24px 20px;
  font-size: 1.125rem;
  text-align: left;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.dropbtn i.open {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  padding: 0 10px;
  border-radius: 0 0 0.3125rem 0.3125rem;
  background-color: #901c1c;
  z-index: 1;
  transform: translateY(-5px);
}
.dropdown-content a {
  color: white;
  font-size: 1.125rem;
  padding: 12px 16px;
  border-top: 1px solid white;
  text-decoration: none;
  display: block;
}
.dropdown-content.show {
  display: block;
}

.likes {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: #901c1c;
}
.likes:hover {
  cursor: pointer;
}
.likes.liked {
  color: #d3573c;
}
.likes span {
  font-size: 1.5rem;
}
.likes .fi-hearth {
  font-size: 1.25rem;
}

.thumb figure {
  margin: 0;
}
.thumb__img {
  position: relative;
  overflow: hidden;
  padding: 0;
  border-radius: 0.3125rem;
  transition: all ease-in-out 0.3s;
}
.thumb__img:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.thumb__img img {
  display: block;
  width: 100%;
  max-height: 21.875rem;
  min-height: 21.875rem;
  object-fit: cover;
  object-position: center;
}
.thumb__video {
  max-height: 21.875rem;
  min-height: 21.875rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
}
.thumb__video video {
  display: block;
  max-width: 100%;
  height: auto;
}
.thumb__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumb__details h3 {
  color: #901c1c;
  font-size: 1.5rem;
  margin: 0.625rem 0;
  font-weight: 400;
}

.profile {
  text-align: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile a {
  text-decoration: none;
}
.profile__thumb {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 6.25rem;
}
.profile__name {
  color: #d3573c;
  font-size: 2.25rem;
  margin: 0;
  font-weight: 400;
}
.profile__location {
  color: #901c1c;
  font-size: 0.8125rem;
}
.profile__description {
  color: #000000;
  font-size: 0.625rem;
}
.profile__dailyRate {
  color: #757575;
  font-size: 0.5625rem;
}

.gallery-container {
  margin: 3.125rem 6.25rem;
}
.gallery-container .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.375rem;
  row-gap: 1.25rem;
}

.widget {
  background-color: #d3573c;
  border-radius: 0.3125rem 0.3125rem 0 0;
  position: fixed;
  bottom: 0;
  right: 2%;
  min-width: 23.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  transform: translateY(60px);
  transition: transform ease-in-out 0.6s;
}
.widget.show {
  transform: translateY(0);
}
.widget__likes {
  color: #000000;
}
.widget__daily_rate {
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
