.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 170px;
}

.dropbtn {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  color: white;
  padding: 24px 20px;
  font-size: rem(18);
  text-align: left;
  border: none;
  border-radius: $radius-sm;
  cursor: pointer;
  i{
    &.open{
      transform: rotate(180deg);
    }
  }
}

.dropdown-content {
  display: none;
  padding: 0 10px;
  border-radius: 0 0 $radius-sm $radius-sm;
  background-color: $primary-color;
  z-index: 1;
  transform: translateY(-5px);
  a {
    color: white;
    font-size: rem(18);
    padding: 12px 16px;
    border-top: 1px solid white;
    text-decoration: none;
    display: block;
  }
  &.show {
    display: block;
  }
}
