#contact_modal {
  display: none;
  position: absolute;
  top: 10vh;
  width: 100%;

  .modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    header {
      justify-content: space-between;
      width: 100%;
      h2 {
        font-size: rem(64);
        font-weight: normal;
        text-align: center;
        img {
          cursor: pointer;
        }
      }
    }
    .form-success {
      display: none;
      background-color: $sucess-color;
      padding: rem(20);
      color: $white;
      border-radius: $radius-sm;
    }
  }
}
