*{
    font-family: $font-family;
    font-size:16px;
}
// font icon
@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ys1a6t') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ys1a6t') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ys1a6t##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-chevron-down {
  &:before {
    content: $fi-chevron-down; 
  }
}
.fi-chevron-up {
  &:before {
    content: $fi-chevron-up; 
  }
}
.fi-camera {
  &:before {
    content: $fi-camera; 
  }
}


body {
  font-family: $font-family;
  margin: 0;
}

h1 {
  color: $primary-color;
  margin-right: 100px;
  font-size: rem(36);
  font-weight: $font-normal;
}
