// fonts
$font-family: "DM Sans", sans-serif;
$font-normal : 400;
$font-semibold : 500;
$font-bold : 800;
// font icon
$icomoon-font-family: "fisheye" !default;
$icomoon-font-path: "../../assets/fonts" !default;
$fi-chevron-down: unquote('"\\e900"');
$fi-hearth: unquote('"\\e903"');
$fi-chevron-up: unquote('"\\e901"');
$fi-camera: unquote('"\\e902"');
// Colors
$primary-color: #901c1c;
$secondary-color: #d3573c;
$grey : #312E2E;
$black : #000000;
// boder-radius
$radius-sm : 5px;


