.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;

  article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  article h2 {
    color: #d3573c;
    font-size: 36px;
  }

  article img {
    height: 200px;
    width: 200px;
  }
}
